<div [class.main]="true">
    
    <div class="windows">
        <p class="bad_words"><span>BAD WORDS:</span>{{' '+ stringBadWord}}</p>        
        <div class="put_text">
            <input type="text" class="{{className}}" placeholder="{{placeholderText}}" (value)="clearInput()" [(ngModel)]="badWords" name="badWords">
            <button class="btnAdd" (click)="showBadWords(badWords)">Add</button>
            <button class="btnReset"(click)="clearInput()">Reset</button>
        </div>
        <textarea  class="{{classNameTextaria}}" cols="30" rows="8" style="resize: none" [(ngModel)]="text" name="text"></textarea>
        <button class="btnCensor" (click)="addText()">Censor</button>
    </div>
</div>
