<div style="min-height: 80vh;" class=" bg-info d-flex justify-content-around align-items-center">
  <div class="card col-sm-3 d-flex justify-content-around align-items-cente" >
      <img src="./../../assets/censor.jpg" style="background-size: cover; background-position: center; width: 98%; height: 150px;" class="card-img-top" alt="censor">
      <div class="card-body">
        <h6 class="card-title">Angular list prohibited words</h6>
        <a class="btn btn-primary" [routerLink]="[ '/works/censor' ]" routerLinkActive="active">Censor</a>
        <!-- <a [routerLink]="['/works', routeParam]">Censor</a> -->
      </div>
    </div>
  <div class="card col-sm-3 d-flex justify-content-around align-items-cente" >
      <img src="./../../assets/userData.jpg" style="background-size: cover; background-position: center; width: 98%; height: 150px;" class="card-img-top" alt="userData">
      <div class="card-body">
        <h5 class="card-title">Angular user list</h5>
  
        <a class="btn btn-primary" [routerLink]="[ '/works/users' ]" routerLinkActive="active">Users</a>
      </div>
    </div>
  <div class="card col-sm-3 d-flex justify-content-around align-items-cente" >
      <img src="./../../assets/taskList.jpg" style="background-size: cover; background-position: center; width: 98%; height: 150px;" class="card-img-top" alt="taskList">
      <div class="card-body">
        <h5 class="card-title">Angular task list </h5>
        <a class="btn btn-primary" [routerLink]="[ '/works/planing' ]" routerLinkActive="active">My plans</a>
      </div>
    </div>
  </div>