<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link" [routerLink]="[ 'censor' ]" routerLinkActive="active">Censor</a>
    <a class="nav-item nav-link" [routerLink]="[ 'users' ]" routerLinkActive="active">Users</a>
    <a class="nav-item nav-link" [routerLink]="[ 'planing' ]" routerLinkActive="active">My plans</a>
    <a class="nav-item nav-link" [routerLink]="[ '/home' ]" routerLinkActive="active">Home</a>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <router-outlet></router-outlet>
</div>